<div class="row">
	<div class="col s12 l2 offset-l1 center-align">
		<a class="waves-effect waves-light btn blue btn-create"><i class="material-icons left">add</i>Crear Juego</a>
	</div>
	<div class="col s12 l8 offset-l2 table-game">
		<table class="striped centered">
		    <thead>
		      <tr>
		          <th>Código</th>
		          <th>Status</th>
		          <th>Jugadores</th>
		          <th>Jugar</th>
		      </tr>
		    </thead>

		    <tbody>
		      <tr>
		        <td>12345</td>
		        <td>Creado</td>
		        <td>2</td>
		        <td><a class="waves-effect waves-light btn blue"><i class="material-icons left">videogame_asset</i>Join</a></td>
		      </tr>
		    </tbody>
		</table>
	</div>
</div>